div {
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-bottom: 0;
}

h1 {
  font-family: Lato;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.pixi-container {
  
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}
